/* Move all styles from the component to here */
.iWksniw {
   position: absolute;
   right: 15px;
   top: 15px;
   font-size: 12px;
   padding: 4px 14px;
   background: rgba(203, 215, 255, 0.03);
   border-radius: 2px;
}

.iWksniw1 {
   position: absolute;
   right: 15px;
   top: 15px;
   font-size: 12px;
   padding: 4px 14px;
   border-radius: 2px;
}
.iWksniw{
   position: absolute;
   right: 15px;
   top: 15px;
   font-size: 12px;
   padding: 4px 14px;
   background: rgba(203, 215, 255, 0.03);
   border-radius: 2px;
}
.iWksniw1{
   position: absolute;
   right: 15px;
   top: 15px;
   font-size: 12px;
   padding: 4px 14px;
   border-radius: 2px;
}
.Jonmsene{
   margin-top: 20px;
   display: flex;
   border-top: 1px solid rgba(128, 128, 128, 0.347);
}
.css-OMksnee{
   cursor: pointer;
   width: 55px;
   padding: 1px;
   margin-top: 10px;
}
.css-OMksnee.active{
   border: 5px solid rgb(81, 227, 13);
}
.LsnnejkJ{
   position: absolute;
   background: none;
   opacity: 0;
}
.upload {
    width: 3.75rem;
    height: 3.75rem;
    position: absolute;
    z-index: 11;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.upload .icon {
   opacity: 0.4;
    width: 2.125rem;
    height: 2.125rem;
    fill: rgb(255, 255, 255);
}

.upload input {
    opacity: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
/* ... rest of your styles ... */